USE [master]
GO
/****** Object:  Database [BuildMatWMS_DB]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE DATABASE [BuildMatWMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BuildMatWMS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.REALITY\MSSQL\DATA\BuildMatWMS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BuildMatWMS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.REALITY\MSSQL\DATA\BuildMatWMS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BuildMatWMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BuildMatWMS_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/17/2026 11:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryBalances]    Script Date: 6/17/2026 11:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryBalances](
	[BalanceID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[StorageLocationCode] [nvarchar](450) NOT NULL,
	[PhysicalQty] [decimal](18, 4) NOT NULL,
	[AvailableQty] [decimal](18, 4) NOT NULL,
	[CommittedQty] [decimal](18, 4) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_InventoryBalances] PRIMARY KEY CLUSTERED 
(
	[BalanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetOtps]    Script Date: 6/17/2026 11:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetOtps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Otp] [nvarchar](10) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
 CONSTRAINT [PK_PasswordResetOtps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributes]    Script Date: 6/17/2026 11:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributes](
	[AttributeID] [int] IDENTITY(1,1) NOT NULL,
	[AttributeCode] [nvarchar](50) NOT NULL,
	[AttributeName] [nvarchar](100) NOT NULL,
	[DataType] [nvarchar](20) NOT NULL,
	[Options] [nvarchar](500) NULL,
	[IsRequired] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_ProductAttributes] PRIMARY KEY CLUSTERED 
(
	[AttributeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributeValues]    Script Date: 6/17/2026 11:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributeValues](
	[ValueID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[AttributeID] [int] NOT NULL,
	[TextValue] [nvarchar](500) NULL,
	[NumberValue] [decimal](18, 4) NULL,
	[BoolValue] [bit] NOT NULL,
	[DateValue] [datetime2](7) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductAttributeValues] PRIMARY KEY CLUSTERED 
(
	[ValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGroups]    Script Date: 6/17/2026 11:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroups](
	[ProductGroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupCode] [nvarchar](50) NOT NULL,
	[GroupName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ProductGroups] PRIMARY KEY CLUSTERED 
(
	[ProductGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/17/2026 11:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[MinThreshold] [decimal](18, 4) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Barcode] [nvarchar](50) NULL,
	[Brand] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[DimensionHeight] [decimal](18, 4) NULL,
	[DimensionLength] [decimal](18, 4) NULL,
	[DimensionWidth] [decimal](18, 4) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[OriginCountry] [nvarchar](100) NULL,
	[ProductGroupID] [int] NOT NULL,
	[SKU] [nvarchar](50) NULL,
	[ShelfLife] [int] NULL,
	[Tags] [nvarchar](500) NULL,
	[UnitOfMeasure] [nvarchar](20) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[WarrantyPeriod] [int] NULL,
	[Weight] [decimal](18, 4) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 6/17/2026 11:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TokenHash] [nvarchar](200) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[ReplacedByTokenHash] [nvarchar](200) NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/17/2026 11:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](450) NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 6/17/2026 11:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/17/2026 11:48:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](450) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260614220949_InitialHybridSkeleton', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260616000748_AddAuthTables', N'8.0.11')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260616201930_AddProductGroupAndExtendProduct', N'8.0.11')
GO
SET IDENTITY_INSERT [dbo].[ProductGroups] ON 

INSERT [dbo].[ProductGroups] ([ProductGroupID], [GroupCode], [GroupName], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (1, N'STEEL', N'Thép Các Loại', N'Thép xây dựng các loại: thép hình, thép tấm, thép ống', 1, N'admin', CAST(N'2026-06-17T04:19:11.2100000' AS DateTime2), CAST(N'2026-06-16T21:51:20.7062696' AS DateTime2))
INSERT [dbo].[ProductGroups] ([ProductGroupID], [GroupCode], [GroupName], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (2, N'CEMENT', N'Xi Măng', N'Xi măng các loại: PCB30, PCB40, xi măng xây trát', 1, N'admin', CAST(N'2026-06-17T04:19:11.2100000' AS DateTime2), NULL)
INSERT [dbo].[ProductGroups] ([ProductGroupID], [GroupCode], [GroupName], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (3, N'SAND1', N'Cát Xây Dựng', N'Cát các loại: cát vàng, cát đen, cát nhân tạo', 1, N'admin', CAST(N'2026-06-17T04:19:11.2100000' AS DateTime2), CAST(N'2026-06-16T21:23:22.1940500' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserID], [TokenHash], [ExpiresAt], [CreatedAt], [RevokedAt], [ReplacedByTokenHash]) VALUES (1, 1, N'C509C8B65502F2D4E7964326EF49F3D4DABE0FE9640984D9E326F2FCAEA7D70E', CAST(N'2026-06-24T04:41:56.7982514' AS DateTime2), CAST(N'2026-06-17T04:41:56.7982698' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleCode], [RoleName], [Description], [CreatedAt]) VALUES (1, N'ADMIN', N'Chủ Đại Lý (Admin)', N'Toàn quyền quản trị tài khoản và hệ thống bãi kho', CAST(N'2026-06-16T06:31:06.8966667' AS DateTime2))
INSERT [dbo].[Roles] ([RoleID], [RoleCode], [RoleName], [Description], [CreatedAt]) VALUES (2, N'OPERATOR', N'Kế Toán Văn Phòng (Operator)', N'Quản lý danh mục, lập hóa đơn chứng từ mua bán', CAST(N'2026-06-16T06:31:06.8966667' AS DateTime2))
INSERT [dbo].[Roles] ([RoleID], [RoleCode], [RoleName], [Description], [CreatedAt]) VALUES (3, N'STAFF', N'Nhân Viên Bãi Kho (Staff)', N'Thực thi đếm hàng kiểm kê, bốc xếp hàng lên xe tải', CAST(N'2026-06-16T06:31:06.8966667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserRoles] ([UserID], [RoleID], [AssignedAt]) VALUES (1, 1, CAST(N'2026-06-16T10:12:18.2866667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [IsActive], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (1, N'admin', N'$2a$12$gZ7DcqvFPgY63txJyRA8h.r605PyYAmdVxxM/e9U2YhroPKSMotNq', N'Quản Trị Viên Hệ Thống', N'admin@xuanthanh.com', N'0987654321', 1, NULL, CAST(N'2026-06-16T10:12:18.2766667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_InventoryBalances_ProductID_StorageLocationCode]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_InventoryBalances_ProductID_StorageLocationCode] ON [dbo].[InventoryBalances]
(
	[ProductID] ASC,
	[StorageLocationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PasswordResetOtps_Email]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_PasswordResetOtps_Email] ON [dbo].[PasswordResetOtps]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_AttributeCode]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_AttributeCode] ON [dbo].[ProductAttributes]
(
	[AttributeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_ProductAttribute]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_ProductAttribute] ON [dbo].[ProductAttributeValues]
(
	[ProductID] ASC,
	[AttributeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_GroupCode]    Script Date: 6/17/2026 11:48:08 AM ******/
ALTER TABLE [dbo].[ProductGroups] ADD  CONSTRAINT [UK_GroupCode] UNIQUE NONCLUSTERED 
(
	[GroupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductGroups_GroupCode]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ProductGroups_GroupCode] ON [dbo].[ProductGroups]
(
	[GroupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Products_ProductCode]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Products_ProductCode] ON [dbo].[Products]
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_ProductGroupID]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_Products_ProductGroupID] ON [dbo].[Products]
(
	[ProductGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RefreshTokens_TokenHash]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RefreshTokens_TokenHash] ON [dbo].[RefreshTokens]
(
	[TokenHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshTokens_UserID]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_RefreshTokens_UserID] ON [dbo].[RefreshTokens]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Roles_RoleCode]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Roles_RoleCode] ON [dbo].[Roles]
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRoles_RoleID]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserRoles_RoleID] ON [dbo].[UserRoles]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_CreatedBy]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_CreatedBy] ON [dbo].[Users]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 6/17/2026 11:48:08 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProductAttributes] ADD  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[ProductAttributes] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ProductAttributes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductAttributes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductAttributeValues] ADD  DEFAULT ((0)) FOR [BoolValue]
GO
ALTER TABLE [dbo].[ProductAttributeValues] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductGroups] ADD  CONSTRAINT [DF_ProductGroups_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductGroups] ADD  CONSTRAINT [DF_ProductGroups_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [ProductGroupID]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (N'') FOR [UnitOfMeasure]
GO
ALTER TABLE [dbo].[InventoryBalances]  WITH CHECK ADD  CONSTRAINT [FK_InventoryBalances_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryBalances] CHECK CONSTRAINT [FK_InventoryBalances_Products_ProductID]
GO
ALTER TABLE [dbo].[ProductAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_PAV_ProductAttributes] FOREIGN KEY([AttributeID])
REFERENCES [dbo].[ProductAttributes] ([AttributeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributeValues] CHECK CONSTRAINT [FK_PAV_ProductAttributes]
GO
ALTER TABLE [dbo].[ProductAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_PAV_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributeValues] CHECK CONSTRAINT [FK_PAV_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductGroups_ProductGroupID] FOREIGN KEY([ProductGroupID])
REFERENCES [dbo].[ProductGroups] ([ProductGroupID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductGroups_ProductGroupID]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserID]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles_RoleID]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users_UserID]
GO
USE [master]
GO
