USE [master]
GO
/****** Object:  Database [BuildMatWMS_DB_V2]    Script Date: 6/19/2026 6:17:55 AM ******/
CREATE DATABASE [BuildMatWMS_DB_V2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BuildMatWMS_DB_V2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.REALITY\MSSQL\DATA\BuildMatWMS_DB_V2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BuildMatWMS_DB_V2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.REALITY\MSSQL\DATA\BuildMatWMS_DB_V2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BuildMatWMS_DB_V2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BuildMatWMS_DB_V2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InboundOrderDetails]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InboundOrderDetails](
	[InboundNo] [nvarchar](50) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InboundNo] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InboundOrders]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InboundOrders](
	[InboundNo] [nvarchar](50) NOT NULL,
	[InboundDate] [datetime] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SupplierID] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InboundNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[ProductID] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[Quantity] [decimal](18, 4) NOT NULL,
	[ReservedQuantity] [decimal](18, 4) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransactions]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransactions](
	[TransactionID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[WarehouseID] [int] NOT NULL,
	[ReferenceNo] [nvarchar](50) NOT NULL,
	[DeltaQty] [decimal](18, 4) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetOtps]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetOtps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Otp] [nvarchar](10) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsUsed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributes]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributes](
	[AttributeID] [int] IDENTITY(1,1) NOT NULL,
	[AttributeCode] [nvarchar](50) NOT NULL,
	[AttributeName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ProductAttributes] PRIMARY KEY CLUSTERED 
(
	[AttributeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributeSelections]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributeSelections](
	[SelectionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ValueID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ProductAttributeSelections] PRIMARY KEY CLUSTERED 
(
	[SelectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductAttributeValues]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductAttributeValues](
	[ValueID] [int] IDENTITY(1,1) NOT NULL,
	[AttributeID] [int] NOT NULL,
	[ValueName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ProductAttributeValues] PRIMARY KEY CLUSTERED 
(
	[ValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductGroups]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductGroups](
	[ProductGroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[GroupCode] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[UnitOfMeasure] [nvarchar](20) NOT NULL,
	[Barcode] [nvarchar](100) NULL,
	[ProductGroupID] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[SKU] [nvarchar](50) NULL,
	[Brand] [nvarchar](100) NULL,
	[OriginCountry] [nvarchar](100) NULL,
	[Weight] [decimal](18, 4) NULL,
	[DimensionLength] [decimal](18, 4) NULL,
	[DimensionWidth] [decimal](18, 4) NULL,
	[DimensionHeight] [decimal](18, 4) NULL,
	[ShelfLife] [int] NULL,
	[WarrantyPeriod] [int] NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[Tags] [nvarchar](500) NULL,
	[MinThreshold] [decimal](18, 4) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[TokenHash] [nvarchar](200) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[ReplacedByTokenHash] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StorageLocations]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageLocations](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationCode] [nvarchar](50) NOT NULL,
	[LocationName] [nvarchar](100) NOT NULL,
	[LocationType] [nvarchar](50) NULL,
	[Capacity] [decimal](18, 4) NULL,
	[WarehouseID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier_Products]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier_Products](
	[SupplierID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](250) NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[AssignedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouses]    Script Date: 6/19/2026 6:17:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouses](
	[WarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseCode] [nvarchar](50) NOT NULL,
	[WarehouseName] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](250) NULL,
	[Status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductAttributes] ON 

INSERT [dbo].[ProductAttributes] ([AttributeID], [AttributeCode], [AttributeName], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'COLOR', N'Màu Sắc', N'Màu sắc sản phẩm', 1, CAST(N'2026-06-18T21:56:15.3666667' AS DateTime2), NULL)
INSERT [dbo].[ProductAttributes] ([AttributeID], [AttributeCode], [AttributeName], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'SIZE', N'Kích Thước', N'Kích thước sản phẩm', 1, CAST(N'2026-06-18T21:56:15.3666667' AS DateTime2), NULL)
INSERT [dbo].[ProductAttributes] ([AttributeID], [AttributeCode], [AttributeName], [Description], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, N'MATERIAL', N'Chất Liệu', N'Chất liệu sản phẩm', 1, CAST(N'2026-06-18T21:56:15.3666667' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ProductAttributes] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAttributeSelections] ON 

INSERT [dbo].[ProductAttributeSelections] ([SelectionID], [ProductID], [ValueID], [CreatedAt]) VALUES (104, 3, 2, CAST(N'2026-06-18T23:11:24.2707616' AS DateTime2))
INSERT [dbo].[ProductAttributeSelections] ([SelectionID], [ProductID], [ValueID], [CreatedAt]) VALUES (105, 3, 3, CAST(N'2026-06-18T23:11:24.2719671' AS DateTime2))
INSERT [dbo].[ProductAttributeSelections] ([SelectionID], [ProductID], [ValueID], [CreatedAt]) VALUES (106, 3, 35, CAST(N'2026-06-18T23:11:24.2722234' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductAttributeSelections] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductAttributeValues] ON 

INSERT [dbo].[ProductAttributeValues] ([ValueID], [AttributeID], [ValueName], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, 1, N'Xanh Dương', 1, CAST(N'2026-06-18T21:56:15.3700000' AS DateTime2), NULL)
INSERT [dbo].[ProductAttributeValues] ([ValueID], [AttributeID], [ValueName], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (3, 1, N'Xanh Lá', 1, CAST(N'2026-06-18T21:56:15.3700000' AS DateTime2), NULL)
INSERT [dbo].[ProductAttributeValues] ([ValueID], [AttributeID], [ValueName], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (7, 2, N'Nhỏ (S)', 1, CAST(N'2026-06-18T21:56:15.3733333' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[ProductAttributeValues] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductGroups] ON 

INSERT [dbo].[ProductGroups] ([ProductGroupID], [GroupName], [Description], [GroupCode], [IsActive], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (1, N'xi măng', N'Các loại', N'CEMENT', 1, N'system', CAST(N'2026-06-18T17:56:54.093' AS DateTime), CAST(N'2026-06-18T20:05:23.323' AS DateTime))
INSERT [dbo].[ProductGroups] ([ProductGroupID], [GroupName], [Description], [GroupCode], [IsActive], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (2, N'ThÃ©p xÃ¢y dá»±ng', N'ThÃ©p thanh, thÃ©p cuá»™n, lÆ°á»›i thÃ©p xÃ¢y dá»±ng', N'STEEL', 1, N'system', CAST(N'2026-06-18T17:56:54.093' AS DateTime), NULL)
INSERT [dbo].[ProductGroups] ([ProductGroupID], [GroupName], [Description], [GroupCode], [IsActive], [CreatedBy], [CreatedAt], [UpdatedAt]) VALUES (3, N'Gáº¡ch xÃ¢y dá»±ng', N'Gáº¡ch nung, gáº¡ch khÃ´ng nung, gáº¡ch block', N'BRICK', 1, N'system', CAST(N'2026-06-18T17:56:54.093' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ProductGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [UserID], [TokenHash], [ExpiresAt], [CreatedAt], [RevokedAt], [ReplacedByTokenHash]) VALUES (1, 1, N'9C56CF90FA7A9209B26320AD213EB126C96C076156DA9C90A0B29FDE41D4955D', CAST(N'2026-06-25T17:41:07.4450193' AS DateTime2), CAST(N'2026-06-18T17:41:07.4450365' AS DateTime2), NULL, NULL)
INSERT [dbo].[RefreshTokens] ([Id], [UserID], [TokenHash], [ExpiresAt], [CreatedAt], [RevokedAt], [ReplacedByTokenHash]) VALUES (2, 1, N'9C9A6BBEF03A8FBF61E8050E1E57A8978A9BA53238FB5BCE4B2A466448339071', CAST(N'2026-06-25T17:58:14.7262702' AS DateTime2), CAST(N'2026-06-18T17:58:14.7263056' AS DateTime2), NULL, NULL)
INSERT [dbo].[RefreshTokens] ([Id], [UserID], [TokenHash], [ExpiresAt], [CreatedAt], [RevokedAt], [ReplacedByTokenHash]) VALUES (3, 1, N'FBF65BDE05457BCE42ED4636F86B35ECF8FB5F4872E4986CF0E51356FD165BA2', CAST(N'2026-06-25T18:38:16.2537638' AS DateTime2), CAST(N'2026-06-18T18:38:16.2537978' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleCode], [RoleName], [Description], [CreatedAt]) VALUES (1, N'ADMIN', N'Chủ Đại Lý (Admin)', N'Toàn quyền quản trị tài khoản và hệ thống bãi kho', CAST(N'2026-06-16T06:31:06.897' AS DateTime))
INSERT [dbo].[Roles] ([RoleID], [RoleCode], [RoleName], [Description], [CreatedAt]) VALUES (2, N'OPERATOR', N'Kế Toán Văn Phòng (Operator)', N'Quản lý danh mục, lập hóa đơn chứng từ mua bán', CAST(N'2026-06-16T06:31:06.897' AS DateTime))
INSERT [dbo].[Roles] ([RoleID], [RoleCode], [RoleName], [Description], [CreatedAt]) VALUES (3, N'STAFF', N'Nhân Viên Bãi Kho (Staff)', N'Thực thi đếm hàng kiểm kê, bốc xếp hàng lên xe tải', CAST(N'2026-06-16T06:31:06.897' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
INSERT [dbo].[UserRoles] ([UserID], [RoleID], [AssignedAt]) VALUES (1, 1, CAST(N'2026-06-18T23:20:45.077' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Email], [PhoneNumber], [IsActive], [CreatedBy], [CreatedAt], [UpdatedAt], [Status]) VALUES (1, N'admin_wms', N'$2a$12$DaisGGUKiUpB0QRNdZEtdeJ2MYwxhZ/QmjrI.u8T2vwLj9bVvbGAW', N'Quản Lý Kho Tổng', N'manager@xuanthanh.com', N'0912345678', 1, NULL, CAST(N'2026-06-18T23:20:45.073' AS DateTime), NULL, N'Active')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Password__A9D1053468995C4F]    Script Date: 6/19/2026 6:17:56 AM ******/
ALTER TABLE [dbo].[PasswordResetOtps] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProductAttributes_AttributeCode]    Script Date: 6/19/2026 6:17:56 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ProductAttributes_AttributeCode] ON [dbo].[ProductAttributes]
(
	[AttributeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductAttributeSelections_ProductId_ValueId]    Script Date: 6/19/2026 6:17:56 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ProductAttributeSelections_ProductId_ValueId] ON [dbo].[ProductAttributeSelections]
(
	[ProductID] ASC,
	[ValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Products__2F4E024F853B7109]    Script Date: 6/19/2026 6:17:56 AM ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RefreshT__BCB33F92FEF4456A]    Script Date: 6/19/2026 6:17:56 AM ******/
ALTER TABLE [dbo].[RefreshTokens] ADD UNIQUE NONCLUSTERED 
(
	[TokenHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__D62CB59CF0C21D38]    Script Date: 6/19/2026 6:17:56 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__StorageL__DDB144D592A78FE2]    Script Date: 6/19/2026 6:17:56 AM ******/
ALTER TABLE [dbo].[StorageLocations] ADD UNIQUE NONCLUSTERED 
(
	[LocationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4AA9778C6]    Script Date: 6/19/2026 6:17:56 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Warehous__1686A0561FBC6CFB]    Script Date: 6/19/2026 6:17:56 AM ******/
ALTER TABLE [dbo].[Warehouses] ADD UNIQUE NONCLUSTERED 
(
	[WarehouseCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InboundOrders] ADD  DEFAULT (getdate()) FOR [InboundDate]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT ((0)) FOR [ReservedQuantity]
GO
ALTER TABLE [dbo].[InventoryTransactions] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[PasswordResetOtps] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PasswordResetOtps] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[ProductAttributes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductAttributes] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductAttributeSelections] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductAttributeValues] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductAttributeValues] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductGroups] ADD  CONSTRAINT [DF_ProductGroups_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RefreshTokens] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Suppliers] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Warehouses] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[InboundOrderDetails]  WITH CHECK ADD FOREIGN KEY([InboundNo])
REFERENCES [dbo].[InboundOrders] ([InboundNo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InboundOrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[InboundOrders]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InboundOrders]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventoryTransactions]  WITH CHECK ADD FOREIGN KEY([ProductID], [WarehouseID])
REFERENCES [dbo].[Inventories] ([ProductID], [WarehouseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributeSelections]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributeSelections_ProductAttributeValues] FOREIGN KEY([ValueID])
REFERENCES [dbo].[ProductAttributeValues] ([ValueID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributeSelections] CHECK CONSTRAINT [FK_ProductAttributeSelections_ProductAttributeValues]
GO
ALTER TABLE [dbo].[ProductAttributeSelections]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributeSelections_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributeSelections] CHECK CONSTRAINT [FK_ProductAttributeSelections_Products]
GO
ALTER TABLE [dbo].[ProductAttributeValues]  WITH CHECK ADD  CONSTRAINT [FK_ProductAttributeValues_ProductAttributes] FOREIGN KEY([AttributeID])
REFERENCES [dbo].[ProductAttributes] ([AttributeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductAttributeValues] CHECK CONSTRAINT [FK_ProductAttributeValues_ProductAttributes]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([ProductGroupID])
REFERENCES [dbo].[ProductGroups] ([ProductGroupID])
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StorageLocations]  WITH CHECK ADD FOREIGN KEY([WarehouseID])
REFERENCES [dbo].[Warehouses] ([WarehouseID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supplier_Products]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supplier_Products]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Users_CreatedBy]
GO
USE [master]
GO
